/* HERO */
.hero {
  background-color: var(--bcg-secondary-color);
}
.hero-title {
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* BUTTON */

.button {
  background: var(--accent-color);
  color: var(--title-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

/* FEATURES */

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}

/* ABOUT and TEAM */

.about-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.team {
  background-color: var(--bcg-primary-color);
}
